.encabezado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--header-altura);
    width: var(--header-ancho);
    padding: var(--header-padding);
    margin: var(--header-margin);
    box-shadow: var(--header-box-shadow);
    background-color: var(--header-color);
    gap: 15px;
    position: relative;
}

.encabezado__imagen{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.encabezado a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.encabezado .material-symbols-outlined {
    color: var(--icono-color);
    font-size: var(--icono-tamano);
    font-weight: bold;
    cursor: pointer;
    transition: color var(--icono-transition) ease;
}

.encabezado .material-symbols-outlined:hover {
    color: var(--icono-hover);
}

.encabezado__contenedorTitulo{
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado__titulo{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}