.encabezado {
    height: var(--header-altura);
    width: var(--header-ancho);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--header-padding);
    margin: var(--header-margin);
}

.encabezado .material-symbols-outlined {
    color: var(--icono-color);
    font-size: var(--icono-tamano);
    font-weight: bold;
    cursor: pointer;
    transition: color var(--icono-transition) ease;
}

.encabezado .material-symbols-outlined:hover {
    color: var(--icono-hover);
}