/* Contenedor principal de la pantalla de carga */
.carga {
    width: var(--carga-ancho);
    height: var(--carga-altura);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--carga-main);
}

/* Contenido centrado */
.carga__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.carga__logo-contenedor{
    width: var(--carga-contenedor-ancho);
    display: flex;
    justify-content: center;
}
.carga__logo{
    width: var(--carga-logo-ancho); 
    height: var(--carga-logo-altura);
}
/* GIF */
.carga__gif-contenedor{
    display: flex;
    justify-content: center;
}
.carga__gif{
    width: var(--carga-gif-ancho);
    height: var(--carga-gif-altura);
}
/* ========================== Media queries ========================== */
/* PANTALLAS MEDIANAS */
@media (min-width: 768px) and (max-width: 1200px){
/* Logo */
.carga__logo{
    width: 40vw; 
}

/* GIF */
.carga__gif{
    width: 35vw;
}}

/* PANTALLAS GRANDES */
@media (min-width: 1200px){
/* Logo */
.carga__logo{
    width: 30vw; 
}

/* GIF */
.carga__gif{
    width: 22vw;
}}