/*contenedor principal o Main */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--login-padding-contenido);
    width: 100%;
    height: 80vh;
}

/* Título */
.contenido__titulo {
    font-size: var(--login-fuente-titulo);
    text-align: center;
    margin-bottom: var(--login-margin-titulo-formulario); 
    color: var(--login-color-titulo-principal);
}

/* Formulario */
.contenido__formulario {
    display: flex;
    flex-direction: column;
    gap: var(--login-gap-formulario);
    width: 90%;
    max-width: 420px;
}

.contenido__grupo {
    display: flex;
    flex-direction: column;
}

.contenido__grupo--fila {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.contenido__label{
    font-size: var(--login-fuente-label);
}

/* Inputs */
input[type="email"], input[type="password"] {
    width: 100%;
    margin-top: var(--login-margin-input);
    padding: var(--login-padding-input);
    border: 3px solid var(--login-color-borde-input);
    border-radius: var(--login-radio-bordes-inputs);
    font-size: var(--login-fuente-inputs);
}

/* Checkbox*/
input[type="checkbox"] {
    width: var(--login-checkbox-ancho);
    height: var(--login-checkbox-altura);
    max-width: var(--login-checkbox-max);
    max-height: var(--login-checkbox-max);
    min-width: var(--login-checkbox-min);
    min-height: var(--login-checkbox-min);
    cursor: pointer;
}

/* ¿Olvidó su Clave? */
.contenido__link {
    color: var(--login-color-olvido-clave);
    text-decoration: none;
    font-size: var(--login-fuente-pequena);
    text-align: center;
    margin-top: var(--login-margin-olvido-clave);
    margin-bottom: var(--login-margin-olvido-clave);
    font-weight: bold;
}

.contenido__link:hover {
    color: var(--login-color-olvido-clave-hover);
}

/* ========================== Media queries ========================== */
/* PANTALLAS MEDIANAS */
@media (min-width: 768px){
    .encabezado {
        height: 10vh;
        padding: 2vh 3vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 6vh;
    }

    .contenido__titulo {
        font-size: 2.5rem;
    }

    .contenido__formulario {
        max-width: 500px;
    }

    .contenido__label{
        font-size: 1.1rem;
    }

    .contenido__link{
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    input[type="email"], input[type="password"] {
        font-size: 1.1rem;
        padding: 0.7rem 2rem;
    }

    input[type="checkbox"] {
        width: 5vw;
        height: 5vh;
    }

    .boton {
        font-size: 1.1rem;
        padding: 0.9rem 1.6rem;
    }
}
/* PANTALLAS GRANDES */
@media (min-width: 1200px){
    .encabezado {
        height: 12vh;
        padding: 3vh 3vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 8vh;
    }

    .contenedor{
        width: 100%;
        height: 100%;
        max-width: 30vw;
        max-height: 100vh;
        padding: 50px 40px;
    }
        
    .contenido {
        min-height: 80vh;
        padding: 0;
    }

    .contenido__titulo {
        font-size: 12rem;
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        text-align: center;  
    }

    .contenido__formulario {
        width: 100%;
        margin-top: 40px;
        max-width: 25vw; 
        gap: 3rem;    
    }

    .contenido__label {
        font-size: 5rem;
        margin-bottom: 30px;  
    }

    .contenido__grupo--fila {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contenido__link{
        font-size: 5rem;
        margin-top: 50px;
        margin-bottom: 90px;
    }


    input[type="email"], input[type="password"] {
        font-size: 5rem;  
        padding: 3rem 3rem; 
        border-radius: 15px;
        width: 100%;
    }

    input[type="checkbox"] {
        width: 80px;
        height: 80px;
        margin-right: 50px;
        max-width: none;
        max-height: none;
    }

    .boton {
        font-size: 6rem; 
        padding: 3rem 3rem; 
        border-radius: 12px;
        cursor: pointer;
    }
    
    .boton--registrar:hover{
        border: 10px solid #1E88E5;;
    }
}