.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contenido__titulo{
    font-size: 30px;
    color: #000;
}

.contenido__principalPreguntas{
    height: 900px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenido__pregunta{
    background: #f12a2a;
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido__imagen{
    height: 50px;
    width: 50px;
}

.contenido__texto{
    font-size: 40px;
    color: #000;
}