/*contenedor principal o Main */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-contenedor);
}

/* Título */
.contenido__titulo {
    font-size: var(--tamano-titulo);
    text-align: center;
    margin-bottom: var(--margin-contenido-titulo); 
    color: var(--color-titulo);
}

/* Formulario */
.contenido__formulario {
    display: flex;
    flex-direction: column;
    gap: var(--gap-formulario);
}

.contenido__formulario > div {
    display: flex;
    flex-direction: column;
}
.contenido__formulario > div label{
    margin-top: var(--margin-formulario);
    font-size: var(--tamano-label);
}

.email, .password, .recordardatos {
    font-weight: bold;
    margin-bottom: var(--margin-texto-correo-contrasena);
    color: var(--color-texto-secundario);
}

/* Inputs */
input[type="email"], input[type="password"] {
    padding: var(--padding-input);
    border: 3px solid var(--color-borde-inputs);
    border-radius: var(--radio-inputs);
    font-size: var(--tamano-fuente-inputs);
}

/* Checkbox*/
input[type="checkbox"] {
    margin-right: var(--margin-checkbox);
    appearance: none;
    width: var(--width-cajita-checkbox);
    height: var(--header-cajita-checkbox);
    background-color: var(--color-fondocheckbox);
    border: var(--border-checkbox);
    border-radius: var(--radio-borde-checkbox);

}

/*div checkbox */
.contenido__formulario > div:nth-child(3) { 
    flex-direction: row;
    align-items: center;
}

/* ¿Olvidó su Clave? */
a {
    color: var(--color-olivido-clave);
    text-decoration: none;
    font-size: var(--tamano-fuente-pequeno);
    text-align: center;
    margin-top: var(--margin-olvidoClave);
    margin-bottom: var(--margin-olvidoClave);
    font-weight: bold;
}

a:hover {
    color: var(--hover-olivido-clave);
}
