/*Contenido*/
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--contenido-padding);
}
.contenido__contenedorimagen{
    display: flex;
    justify-content: center;
}
.contenido__imagen{
    width: var(--contenido-img-tamano);
    max-width: var(--contenido-img-max);
    min-width: var(--contenido-img-min);
    height: auto; 
}
.contenido__parrafo{
    font-size: var(--contenido-parrafo-size);
    text-align: center;
    margin-bottom: var(--contenido-margin-bottom);
    
}
.contenido__contenedorbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--contenido-gap-botones);
    width: var(--contenido-ancho-contenedorbutton);
    max-width: var(--contenido-Max-ancho);
}

.encabezado{
    background-color: transparent;
    box-shadow: none;
}

.encabezado .material-symbols-outlined {
    font-size: var(--contenido-icono-tamano);
}

/* ========================== Media queries ========================== */
/* PANTALLAS MEDIANAS */
@media (min-width: 768px) and (max-width: 1200px){
    .encabezado {
        height: 10vh;
        padding: 2vh 3vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 7vh;
    }

    .contenido__imagen {
        width: 68vw;
    }

    .contenido__parrafo {
        margin: 0.9rem 0;
        font-size: 1.4rem;
    }

    .boton {
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
    }
}
/* PANTALLAS GRANDES */
@media (min-width: 1200px){
    .encabezado {
        height: 12vh;
        padding: 2vh 4vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 8vh;
    }

    .contenido__imagen {
        width: 75vw;
        max-width: 400px;
    }

    .contenido__parrafo {
        margin: 1rem 0;
        font-size: 1.7rem;
        max-width: 60%;
        line-height: 1.4;
    }

    .boton {
        font-size: 1.5rem;
        padding: 1.3rem 2rem;
        border-radius: 0.8rem;
        transition: border 0.2s ease;
    }

    .boton--iniciar:hover {
        border: 4px solid #4EC8A9;
    }

    .boton--registrar:hover {
        border: 4px solid #1E88E5;
    }
}