/*Contenido*/
.contenido p{
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
}
.contenido__contenedorimagen{
    display: flex;
    justify-content: center;
}
.contenido__imagen{
    height: var(--header-logo);
    width: var(--width-logo);
}
.contenido__parrafo{
    font-size: 28px;
    margin-bottom: var(--marginbottonm-parrafo);
}
.contenido__contenedorbutton{
    height: var(--header-contenedorbutton);
    width: var(--width-contenedorbutton);
    display: flex;
    justify-content: center;
    gap: var(--gap-contenedorbutton);
}
