/*contenido*/
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido__principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 800px;
    border-radius: 8px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background: linear-gradient(#d7f0ff, #e0ffee);
    flex-direction: column;  

}

.contenido__titulo {
    text-align: center;
    font-size: var(--tamano-titulo);
    font-weight: bold;
    margin-bottom: var(--margin-titulo);
}

/*formulrio*/
label {
    font-size: var(--tamano-label);
    font-weight: 600; 
    display: block;
    margin-bottom: var(--margin-bottom-label);
}

input {
    width: var(--ancho-input);
    height: var(--alto-input);
    padding-left: var(--padding-left-input);
    border-radius: var(--radio-borde);
    border: var(--border-input);
    background-color: var(--color-input);
    font-size: var(--tamano-input);
    margin-bottom: var(--margin-bottom-input);
}

input::placeholder {
    color: var(--color-placeholder);
}

input:focus {
    outline: none; /* Quita el borde negro */
    border: 4px solid #2a9d8f; /* agregar al root */
}

/*boton*/
.ingresar {
    width: var(--ancho-button);
    height: var(--alto-boton);
    background-color: var(--color-boton);
    color: var(--color-texto-boton);
    border: var(--border-button);
    border-radius: var(--radio-borde);
    font-size: var(--tamano-button);
    font-weight: bold;
    cursor: pointer;
    margin-top: var(--margin-top-button);
    margin-left: var(--margin-left-button);
}

.ingresar:hover {
    background-color: var(--color-boton-hover);
}