*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colores */
    --color-fondo: #FFFFFF;
    --color-input: #D7F9E6;
    --color-borde: #000;
    --color-texto: #000000;
    --color-boton: #1E88E5;
    --color-texto-boton: #fff;
    --color-boton-hover: #1967d2;
    --color-placeholder: #6E6E6E;
    --hover-icono: #1E88E5;
    /*Ancho*/
    --ancho-contenedor: 500px;
    --ancho-input: 75%;
    --ancho-button: 75%;
    /*Altura*/
    --alto-input: 40px;
    --alto-boton: 45px;
    /*Radio borde*/
    --radio-borde: 8px;
    /*Borde*/
    --border-input: 3px solid var(--color-borde);
    --border-button: 3px solid var(--color-borde);   
    /* Tipografía */
    --fuente-general: "Poppins", Arial, sans-serif;
    --tamano-titulo: 36px;
    --tamano-label: 18px;
    --tamano-button: 18px;
    --tamano-input: 16px;
    /* Margin */
    --margin-titulo: 25px;
    --margin-left-label: 50px;
    --margin-bottom-label: 5px;
    --margin-left-input:50px;
    --margin-left-button:50px;
    --margin-bottom-input: 12px;
    --margin-top-button: 10px;
    /* Padding */
    --padding-left-input: 10px;
    /* Duración de transiciones */
    --duracion-transicion: 0.3s; 

}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-general);
}

/*encabezado*/
.encabezado {
    padding: 15px;
}

.material-symbols-outlined {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: color var(--duracion-transicion) ease;
}

.encabezado .material-symbols-outlined:hover {
    color: var(--hover-icono);
}

/*contenido*/
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido__contenedor {
    width: var(--ancho-contenedor);
    display: flex;
    flex-direction: column;  
}

.contenido__titulo {
    text-align: center;
    font-size: var(--tamano-titulo);
    font-weight: bold;
    margin-bottom: var(--margin-titulo);
}


/*formulrio*/
label {
    font-size: var(--tamano-label);
    font-weight: 600;
    display: block;
    margin-left: var(--margin-left-label);
    margin-bottom: var(--margin-bottom-label);
}

input {
    width: var(--ancho-input);
    height: var(--alto-input);
    padding-left: var(--padding-left-input);
    border-radius: var(--radio-borde);
    border: var(--border-input);
    background-color: var(--color-input);
    font-size: var(--tamano-input);
    margin-left: var(--margin-left-input);
    margin-bottom: var(--margin-bottom-input);
}

input::placeholder {
    color: var(--color-placeholder);
}

input:focus {
    outline: none; /* Quita el borde negro */
    border: 4px solid #2a9d8f;
}

/*boton*/
.ingresar {
    width: var(--ancho-button);
    height: var(--alto-boton);
    background-color: var(--color-boton);
    color: var(--color-texto-boton);
    border: var(--border-button);
    border-radius: var(--radio-borde);
    font-size: var(--tamano-button);
    font-weight: bold;
    cursor: pointer;
    margin-top: var(--margin-top-button);
    margin-left: var(--margin-left-button);
}

.ingresar:hover {
    background-color: var(--color-boton-hover);
}