@import url(customProperties.css);

*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-general);
}

/*encabezado*/
.encabezado {
    padding: 15px; /* agregar al root */
}

.material-symbols-outlined {
    font-size: 50px; /* agregar al root */
    font-weight: bold;
    cursor: pointer;
    transition: color var(--duracion-transicion) ease;
}

.encabezado .material-symbols-outlined:hover {
    color: var(--hover-icono);
}

/*contenido*/
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido__contenedor {
    width: var(--ancho-contenedor);
    display: flex;
    flex-direction: column;  
}

.contenido__titulo {
    text-align: center;
    font-size: var(--tamano-titulo);
    font-weight: bold;
    margin-bottom: var(--margin-titulo);
}


/*formulrio*/
label {
    font-size: var(--tamano-label);
    font-weight: 600; 
    display: block;
    margin-left: var(--margin-left-label);
    margin-bottom: var(--margin-bottom-label);
}

input {
    width: var(--ancho-input);
    height: var(--alto-input);
    padding-left: var(--padding-left-input);
    border-radius: var(--radio-borde);
    border: var(--border-input);
    background-color: var(--color-input);
    font-size: var(--tamano-input);
    margin-left: var(--margin-left-input);
    margin-bottom: var(--margin-bottom-input);
}

input::placeholder {
    color: var(--color-placeholder);
}

input:focus {
    outline: none; /* Quita el borde negro */
    border: 4px solid #2a9d8f; /* agregar al root */
}

/*boton*/
.ingresar {
    width: var(--ancho-button);
    height: var(--alto-boton);
    background-color: var(--color-boton);
    color: var(--color-texto-boton);
    border: var(--border-button);
    border-radius: var(--radio-borde);
    font-size: var(--tamano-button);
    font-weight: bold;
    cursor: pointer;
    margin-top: var(--margin-top-button);
    margin-left: var(--margin-left-button);
}

.ingresar:hover {
    background-color: var(--color-boton-hover);
}