@import url(customProperties.css);

*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Encabezado*/
.encabezado{
    height: var(--header-encabezado);
    width: var(--width-encabezado);
    display: flex;
    justify-content: end;
    padding: 15px; /* agregar al root */
}
.material-symbols-outlined{
    font-size: 40px;  /* agregar al root */
    font-weight: 950; /* agregar al root */
}
.material-symbols-outlined:hover{
    color: var(--hover-icono);
}

/*Contenido*/
.contenido p{
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
}
.contenido__contenedorimagen{
    display: flex;
    justify-content: center;
}
.contenido__imagen{
    height: var(--header-logo);
    width: var(--width-logo);
}
.contenido__parrafo{
    font-size: 28px;
    margin-bottom: var(--marginbottonm-parrafo);
}
.contenido__contenedorbutton{
    height: var(--header-contenedorbutton);
    width: var(--width-contenedorbutton);
    display: flex;
    justify-content: center;
    gap: 15px; /* agregar al root */
}
.contenido__iniciarsesion{
    height: var(--header-button);
    width: var(--width-button);
    background-color: var(--color-button);
    color: var(--color-textobutton);
    font-size: 18px; /* agregar al root */
    font-weight: bold;
    border-radius: 8px; /* agregar al root */
}
.contenido__iniciarsesion:hover{
    color: var(--color-button);
    background-color: var(--color-textobutton);
}
.contenido__registrarse{
    height: var(--header-button);
    width: var(--width-button);
    background-color: var(--color-button);
    color: var(--color-textobutton);
    font-size: 18px; /* agregar al root */
    font-weight: bold;
    border-radius: 8px; /* agregar al root */
}
.contenido__registrarse:hover{
    color: var(--color-button);
    background-color: var(--color-textobutton);
}