*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Altura*/
    --header-contenedor:600px;
    --header-contengif: 200px;
    --header-logo:600px;
    --header-gif: 300px;
    /*Ancho*/
    --width-contenedor:auto;
    --width-contengif: auto;
    --width-logo:600px;
    --width-gif: 400px;
}

/*Contenido*/
.contenido__contenedorimagen{
    height: var(--header-contenedor);
    width: var(--width-contenedor);
    display: flex;
    justify-content: center;
}
.contenido__imagen{
    height: var(--header-logo);
    width: var(--width-logo);
}
.contenido__gif{
    height: var(--header-contengif);
    width: var(--width-contengif);
    display: flex;
    justify-content: center;
}
.contenido__gifimagen{
    height: var(--header-gif);
    width: var(--width-gif);
}