@import url(customProperties.css);

*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    font-family: var(--fuente-principal); 
}

/* encabezado */
.encabezado {
    height: var(--header-encabezado);
    width: var(--width-encabezado);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: var(--margin-icono);
}

.encabezado .material-symbols-outlined {
    color: var(--color-icono);
    font-size: 50px; /* agregar al root */
    font-weight: bold;
    cursor: pointer;
    transition: color var(--duracion-transicion) ease;
}

.encabezado .material-symbols-outlined:hover {
    color: var(--hover-icono);
}

/*contenedor principal o Main */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-contenedor);
}

.contenido__contenedor {
    width: var(--width-contenidoContenedor);
    max-width: var(--max-width-contenidoContenedor);
    border-radius: var(--radio-borde);
    box-shadow: var(--sombra-caja);
    padding: var(--padding-contenedor);
    background: linear-gradient(#84C7F1, #D7F9E6); /* agregar al root */
}

/* Título */
.contenido__titulo {
    font-size: var(--tamano-titulo);
    text-align: center;
    margin-bottom: 24px; /* agregar al root */
    color: var(--color-titulo);
}

/* Formulario */
.contenido__formulario {
    display: flex;
    flex-direction: column;
    gap: 16px; /* agregar al root */
}

.contenido__formulario > div {
    display: flex;
    flex-direction: column;
}
.contenido__formulario > div label{
    margin-top: 20px;  /* agregar al root */
    font-size: var(--tamano-label);
}

.email, .password, .recordardatos {
    font-weight: bold;
    margin-bottom: var(--margin-texto-correo-contrasena);
    color: var(--color-texto-secundario);
}

/* Inputs */
input[type="email"], input[type="password"] {
    padding: var(--padding-input);
    border: 3px solid var(--color-borde-inputs);
    border-radius: 8px; /* agregar al root */
    font-size: var(--tamano-fuente-inputs);
}

/* Checkbox*/
input[type="checkbox"] {
    margin-right: 20px; /* agregar al root */
    appearance: none;
    width: var(--width-cajita-checkbox);
    height: var(--header-cajita-checkbox);
    background-color: var(--color-fondocheckbox);
    border: var(--border-checkbox);
    border-radius: var(--radio-borde-checkbox);

}

/*div checkbox */
.contenido__formulario > div:nth-child(3) { 
    flex-direction: row;
    align-items: center;
}

/* ¿Olvidó su Clave? */
a {
    color: var(--color-olivido-clave);
    text-decoration: none;
    font-size: var(--tamano-fuente-pequeno);
    text-align: center;
    margin-top: 8px;    /* agregar al root */
    margin-bottom: 8px; /* agregar al root */
    font-weight: bold;
}

a:hover {
    color: var(--hover-olivido-clave);
}

/* Botón de ingresar */
.ingresar {
    height: var(--header-button); 
    width: var(--width-button); 
    background-color: var(--color-button);
    color: var(--color-textobutton);
    padding: var(--padding-button);
    border: var(--border-button);
    border-radius: var(--radio-borde-checkbox);
    font-size: var(--tamano-fuente-inputs);
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px; /* agregar al root */
}

.ingresar:hover {
    background-color: var(--hover-button);
    color: var(--hover-textobutton);
}
