*{
    /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Altura*/
    --header-encabezado:100px;
    --header-logo:600px;
    --header-contenedorbutton: 70px;
    --header-button: 50px;
    /*Ancho*/
    --width-encabezado:auto;
    --width-logo:600px;
    --width-contenedorbutton: auto;
    --width-button: 160px;
    /*Margin*/
    --marginbottonm-parrafo: 40px;
    /*Colores*/
    --hover-icono: #1E88E5;
    --hover-borde: #000;
    --color-button: #1E88E5;
    --color-textobutton: #fff;
}


/*Encabezado*/
.encabezado{
    height: var(--header-encabezado);
    width: var(--width-encabezado);
    display: flex;
    justify-content: end;
    padding: 15px;
}
.material-symbols-outlined{
    font-size: 40px;
    font-weight: 950;
}
.material-symbols-outlined:hover{
    color: var(--hover-icono);
}


/*Contenido*/
.contenido p{
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
}
.contenido__contenedorimagen{
    display: flex;
    justify-content: center;
}
.contenido__imagen{
    height: var(--header-logo);
    width: var(--width-logo);
}
.contenido__parrafo{
    font-size: 28px;
    margin-bottom: var(--marginbottonm-parrafo);
}
.contenido__contenedorbutton{
    height: var(--header-contenedorbutton);
    width: var(--width-contenedorbutton);
    display: flex;
    justify-content: center;
    gap: 15px;
}
.contenido__iniciarsesion{
    height: var(--header-button);
    width: var(--width-button);
    background-color: var(--color-button);
    color: var(--color-textobutton);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}
.contenido__iniciarsesion:hover{
    color: var(--color-button);
    background-color: var(--color-textobutton);
}
.contenido__registrarse{
    height: var(--header-button);
    width: var(--width-button);
    background-color: var(--color-button);
    color: var(--color-textobutton);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}
.contenido__registrarse:hover{
    color: var(--color-button);
    background-color: var(--color-textobutton);
}