:root{
  /* ===================== HEADERS =====================  */
    /*Altura*/
    --header-encabezado: 100px;
    /*Ancho*/
    --width-encabezado: auto;
    /*Margin*/
    --margin-icono: 20px;
    /*Tamaño Icono*/
    --tamano-icono: 50px;
    /*Color*/
    --color-icono: #000;
    /* Duración de transiciones */
    --duracion-transicion: 0.3s;
    /*Hover*/
    --hover-icono: #1E88E5;
  /* ===================== CONTENEDORES =====================  */
    /*Ancho*/
    --width-Contenedor: 100%;
    --max-width-Contenedor: 450px;
    /* Radio*/
    --radio-borde: 8px; 
    /* Sombra de cajas */
    --sombra-caja: 0 10px 5px var(--color-sombra);
    /* Padding */
    --padding-contenedor: 40px; 
    /*Gradientes */
    --color-gradient-contenido: linear-gradient(#84C7F1, #D7F9E6);
  /* ===================== BOTONES =====================  */
    /*Color*/
    --color-button: #1E88E5;
    --color-textobutton: #fff;
    /* Padding*/
    --padding-button: 12px;
    /* Bordes */
    --border-button: 3px solid var(--hover-borde);
    /* Radio de bordes */
    --radio-border-checkbox: 4px;
    /*Tamaño fuente*/
    --tamano-fuente-inputs: 18px; 
    /*Margin*/
    --margin-top-button: 16px;
    /*Hover*/
    --hover-button: #fff;
    --hover-textobutton: #1E88E5;
  /* ===================== ESTILOS CARGA =====================  */
    /*Altura*/
    --header-contenedor:600px;
    --header-contengif: 200px;
    --header-logo:600px;
    --header-gif: 300px;
    /*Ancho*/
    --width-contenedor:auto;
    --width-contengif: auto;
    --width-logo:600px;
    --width-gif: 400px;
  /* ===================== ESTILOS PRINCIPAL =====================  */
    /*Altura*/
    --header-logo:600px;
    --header-contenedorbutton: 70px;
    /*Ancho*/
    --width-logo:600px;
    --width-contenedorbutton: auto;
    /*Margin*/
    --marginbottonm-parrafo: 40px;
    /*Gaps*/
    --gap-contenedorbutton: 15px;
  /* ===================== ESTILOS INICIAR SESIÓN =====================  */
    /* Altura */
    --header-cajita-checkbox: 25px;
    /* Ancho */
    --width-cajita-checkbox: 25px;
    /* Margin */
    --margin-texto-correo-contrasena: 20px;
    --margin-contenido-titulo: 24px;
    --margin-formulario: 20px;
    --margin-checkbox: 20px;
    --margin-olvidoClave: 8px;
    /* Colores */
    --color-titulo: #000;
    --hover-borde: #000;
    --hover-olivido-clave: #1E88E5;
    --color-borde-checkbox: #000;
    --color-fondocheckbox: #fff;
    --color-olivido-clave: #000;
    --color-texto-secundario: #000; 
    --color-borde-inputs: #000; 
    --color-sombra: rgba(0, 0, 0, 0.1); 
    /* Tamaño de Fuente */
    --tamano-titulo: 36px; 
    --tamano-fuente-pequeno: 16px; 
    --tamano-label: 18px;
    /* Padding */
    --padding-input: 12px; 
    /* Bordes */
    --border-caja: 5px solid #000;
    --border-checkbox: 2px solid var(--color-borde-checkbox);
    /* Radio */
    --radio-inputs: 8px;
    /*Gaps */
    --gap-formulario: 16px;
  /* ===================== ESTILOS REGISTRASE =====================  */
    /* Colores */
    --color-icono: #000;
    --color-input: #D7F9E6;
    --color-borde: #000;
    --color-texto: #000000;
    --color-boton: #1E88E5;
    --color-texto-boton: #fff;
    --color-boton-hover: #1967d2;
    --color-placeholder: #6E6E6E;
    --hover-icono: #1E88E5;
    /*Ancho*/
    --ancho-contenedor: 500px;
    --ancho-input: 400px;
    --ancho-button: 75%;
    /*Altura*/
    --alto-input: 40px;
    --alto-boton: 45px;
    /*Radio borde*/
    --radio-borde: 8px;
    /*Borde*/
    --border-input: 3px solid var(--color-borde);
    --border-button: 3px solid var(--color-borde);   
    /* Tipografía */
    --tamano-titulo: 36px;
    --tamano-label: 18px;
    --tamano-button: 18px;
    --tamano-input: 16px;
    /* Margin */
    --margin-titulo: 25px;
    --margin-bottom-label: 5px;
    --margin-left-button:50px;
    --margin-bottom-input: 12px;
    --margin-top-button: 10px;
    /* Padding */
    --padding-left-input: 10px;
    /* Duración de transiciones */
    --duracion-transicion: 0.3s; 
}