:root{
  /* ===================== HEADERS =====================  */
    /*Altura*/
    --header-altura: 60px;
    /*Ancho*/
    --header-ancho: 100%;
    /*Padding*/
    --header-padding: 40px 20px;
    /*Margin*/
    --header-margin: 0;
    /*Tamaño Icono*/
    --icono-tamano: 50px;
    /*Color*/
    --icono-color: #000;
    /* Duración de transiciones */
    --icono-transition: 0.3s;
    /*Hover*/
    --icono-hover: #1E88E5;
  /* ===================== CONTENEDORES =====================  */
    /*Ancho*/
    --contenedor-width: 90%;
    --contenedor-max-width: 450px;  
    /* Radio*/
    --contenedor-radius: 15px; 
    /* Sombra de cajas */
    --contenedor-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    /* Padding */
    --contenedor-padding: 30px 25px; 
    /*Gradientes */
    --contenedor-gradient-bg: linear-gradient(#84C7F1, #D7F9E6);
  /* ===================== BOTONES =====================  */
    /*Color Botón primario*/
    --btn-primary: #1E88E5;
    --btn-primary-text: #fff;
    /*Color Botón secundario */
    --btn-secondary-bg: #4EC8A9;
    --btn-secondary-text: #fff;
    /*Hover Botón primario*/
    --btn-primary-hover: #fff;
    --btn-primary-hover-text: #1E88E5;
    /*Hover Botón secundario*/
    --btn-secondary-hover: #fff;
    --btn-secondary-hover-text: #4EC8A9;
    /* Padding*/
    --btn-padding: 15px 15px;
    /*Borde del hover*/
    --btn-primary-hover-border: 4px solid #1E88E5;
    --btn-secondary-hover-border: 4px solid #4EC8A9;
    /* Radio de bordes */
    --btn-radius: 8px;
    /*Tamaño fuente*/
    --btn-font-size: 16px;
    /*Margin*/
    --btn-margin-top: 16px;
  /* ===================== ESTILOS PANTALLA CARGA =====================  */
    /*Altura*/
    --carga-contenedor-altura: 300px;
    --carga-logo-altura: 320px;
    --carga-contenedor-gif-altura: 200px; 
    --carga-gif-tamano-altura: 220px;
    /*Ancho*/
    --carga-contenedor-ancho: 100%;
    --carga-gif-ancho: 100%;
    --carga-logo-ancho: auto;
    --carga-gif-ancho: auto;
  /* ===================== ESTILOS PRINCIPAL =====================  */
    /* Imagen */
    --contenido-img-tamano: 320px;
    /* Texto */
    --contenido-parrafo-size: 18px;
    /* Gap */
    --contenido-gap-botones: 20px;
    /*Ancho*/
    --contenido-ancho-contenedorbutton: 100%;
    --contenido-Max-ancho: 300px;
    /*Margin*/
    --contenido-margin-bottom: 30px;
  /* ===================== ESTILOS INICIAR SESIÓN =====================  */
    /* Altura */
    --login-checkbox-altura: 20px;
    /* Ancho */
    --login-checkbox-ancho: 20px;
    /* Márgenes */
    --login-margin-titulo-formulario: 24px;
    --login-margin-formulario-general: 10px;
    --login-margin-input: 10px;
    --login-margin-olvido-clave: 5px;
    /* Colores */
    --login-color-titulo-principal: #000;
    --login-color-borde-input: #000;
    --login-color-olvido-clave: #000;
    --login-color-olvido-clave-hover: #1E88E5;
    /*Hover*/
    --login-hover-fondo-checkbox: #1E88E5;
    /* Tamaño de Tipografías */
    --login-fuente-titulo: 28px; 
    --login-fuente-label: 17px;
    --login-fuente-inputs: 16px;
    --login-fuente-pequena: 16px; 
    /* Padding */
    --login-padding-contenido: 30px;
    --login-padding-input: 12px 30px; 
    /* Radio */
    --login-radio-bordes-inputs: 10px;
    /*Gaps */
    --login-gap-formulario: 16px;
  /* ===================== ESTILOS REGISTRASE =====================  */
    /* Colores */
    --color-icono: #000;
    --color-input: #D7F9E6;
    --color-borde: #000;
    --color-texto: #000000;
    --color-boton: #1E88E5;
    --color-texto-boton: #fff;
    --color-boton-hover: #1967d2;
    --color-placeholder: #6E6E6E;
    --hover-icono: #1E88E5;
    /*Ancho*/
    --ancho-contenedor: 500px;
    --ancho-input: 400px;
    --ancho-button: 75%;
    /*Altura*/
    --alto-input: 40px;
    --alto-boton: 45px;
    /*Radio borde*/
    --radio-borde: 8px;
    /*Borde*/
    --border-input: 3px solid var(--color-borde);
    --border-button: 3px solid var(--color-borde);   
    /* Tipografía */
    --tamano-titulo: 36px;
    --tamano-label: 18px;
    --tamano-button: 18px;
    --tamano-input: 16px;
    /* Margin */
    --margin-titulo: 25px;
    --margin-bottom-label: 5px;
    --margin-left-button:50px;
    --margin-bottom-input: 12px;
    --margin-top-button: 10px;
    /* Padding */
    --padding-left-input: 10px;
    /* Duración de transiciones */
    --duracion-transicion: 0.3s; 
}