:root{
  /* ===================== HEADERS =====================  */
    /*Altura*/
    --header-altura: 60px;
    /*Ancho*/
    --header-ancho: 100%;
    /*Padding*/
    --header-padding: 15px 20px;
    /*Margin*/
    --header-margin: 0;
    /*Tamaño Icono*/
    --icono-tamano: 30px;
    /*Color*/
    --icono-color: #000;
    --header-color: #D9D9D9;
    /*Box Shadow*/
    --header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Duración de transiciones */
    --icono-transition: 0.3s;
    /*Hover*/
    --icono-hover: #1E88E5;
  /* ===================== CONTENEDORES =====================  */
    /*Ancho*/
    --contenedor-width: 100%;
    --contenedor-max-width: 380px;  
    /* Radio*/
    --contenedor-radius: 12px; 
    /* Sombra de cajas */
    --contenedor-shadow: 0 5px 12px rgba(0,0,0,0.12);
    /* Padding */
    --contenedor-padding: 25px 20px; 
    /*Gradientes */
    --contenedor-gradient-bg: linear-gradient(to right, #a4dbf4, #ccffd3);
  /* ===================== BOTONES =====================  */
    /*Color Botón primario*/
    --btn-primary: #1E88E5;
    --btn-primary-text: #fff;
    /*Color Botón secundario */
    --btn-secondary-bg: #4EC8A9;
    --btn-secondary-text: #fff;
    /*Hover Botón primario*/
    --btn-primary-hover: #fff;
    --btn-primary-hover-text: #1E88E5;
    /*Hover Botón secundario*/
    --btn-secondary-hover: #fff;
    --btn-secondary-hover-text: #4EC8A9;
    /* Padding*/
    --btn-padding: 15px 15px;
    /*Borde del hover*/
    --btn-primary-hover-border: 3px solid #1E88E5;
    --btn-secondary-hover-border: 3px solid #4EC8A9;
    /* Radio de bordes */
    --btn-radius: 8px;
    /*Tamaño fuente*/
    --btn-font-size: 16px;
    /*Margin*/
    --btn-margin-top: 16px;
/* ===================== ESTILOS PANTALLA CARGA =====================  */
    /* Ancho */
    --carga-ancho: 100%;
    --carga-contenedor-ancho: 100%;
    --carga-logo-ancho: 70vw;
    --carga-gif-ancho: 70vw; 
    /* Altura */
    --carga-altura: 100vh;
    --carga-logo-altura: auto;
    --carga-gif-altura: auto;
  /* ===================== ESTILOS PRINCIPAL =====================  */
    /* Imagen */
    --contenido-img-tamano: 40vw;
    --contenido-img-max: 280px;       
    --contenido-img-min: 160px;  
    /* Texto */
    --contenido-parrafo-size: 1.2rem;
    /* Gap */
    --contenido-gap-botones: 1.5rem;
    /*Ancho*/
    --contenido-ancho-contenedorbutton: 100%;
    --contenido-Max-ancho: 350px;
    /*Margin*/
    --contenido-margin-bottom: 2rem;
  /* ===================== ESTILOS INICIAR SESIÓN =====================  */
    /* Altura y Ancho de Checkbox */
    --login-checkbox-altura: 40vh;
    --login-checkbox-max: 20px;
    --login-checkbox-min: 14px;
    --login-checkbox-ancho: 40vw;
    /* Márgenes */
    --login-margin-titulo-formulario: 2rem;
    --login-margin-input: 0.5rem;
    --login-margin-olvido-clave: 0.5rem;
    /* Colores */
    --login-color-titulo-principal: #000;
    --login-color-borde-input: #000;
    --login-color-olvido-clave: #000;
    --login-color-olvido-clave-hover: #1E88E5;
    /*Hover*/
    --login-hover-fondo-checkbox: #1E88E5;
    /* Tamaño de Tipografías */
    --login-fuente-titulo: 2rem; 
    --login-fuente-label: 1rem;
    --login-fuente-inputs: 1rem;
    --login-fuente-pequena: 0.95rem;
    /* Padding */
    --login-padding-contenido: 5vw;
    --login-padding-input: 0.9rem 1.5rem;
    /* Radio */
    --login-radio-bordes-inputs: 0.7rem;
    /*Gaps */
    --login-gap-formulario: 1rem;
/* ===================== ESTILOS REGISTRARSE =====================  */
  /* Colores */
  --registro-input-bg: #D7F9E6;
  --registro-placeholder: #6E6E6E;
  /* Anchos */
  --registro-formulario-w: 90%;
  --registro-input-w: 90%;
  /* Alturas */
  --registro-contenido-min-h: 100vh;
  --registro-input-h: 35px;
  /* Bordes */
  --registro-radio-borde: 8px;
  --registro-input-border: 3px solid #000;
  --registro-input-border-focus: 4px solid #2a9d8f;
  /* Tipografía */
  --registro-titulo-size: 1.5rem;
  --registro-label-size: 0.7rem;
  --registro-input-size: 14px;
  /* Margen */
  --registro-titulo-margin: 1.5rem;
  --registro-label-margin-bottom: 0.3rem;
  --registro-input-margin-bottom: 2px;
  /* Padding */
  --registro-input-padding: 0 10px;
  --registro-contenido-padding: 20px;
}