@import url(../utils/base.css); 
@import url(../utils/customProperties.css);
@import url(../components/header.css);
@import url(../components/contenedor.css);
@import url(../components/boton.css);
@import url(../components/botonIniciar.css);